In [47]:
#Prime Factors

def p_factors(n):
  factor = 2
  while factor <= n:
    if n % factor == 0:
      print(factor)
      n = n // factor
    else:
      factor +=1
  return None

p_factors(1000)

2
2
2
5
5
5

In [48]:
#Sum of all divisors excluding number itself

def divisors(n):
  sum = 0
  divisor = 1
  while divisor <= n:
    if n == 0:
      return 0
    else:
      if n%divisor == 0:
        sum += divisor
    divisor+=1
  sum -= n #removing the number divided by itself
  return sum
print(divisors(0))
print(divisors(5)) # 1
print(divisors(40)) # 1+2+4+5+8+10+20 = 50

0
1
50

In [50]:
# Multiplier of a number 1 through 7 till the result to be 12

def multiplier(n):
	multiplier = 1
	while multiplier <= 7:
		result = n * multiplier
		if result > 12 : #constrained
			break
		print(str(n)+"*"+str(multiplier)+" = "+str(result),'| Result:',result,'<= 12👍')
		multiplier += 1

for i in range(1,3):
	multiplier(i)

1*1 = 1 | Result: 1 <= 12👍
1*2 = 2 | Result: 2 <= 12👍
1*3 = 3 | Result: 3 <= 12👍
1*4 = 4 | Result: 4 <= 12👍
1*5 = 5 | Result: 5 <= 12👍
1*6 = 6 | Result: 6 <= 12👍
1*7 = 7 | Result: 7 <= 12👍
2*1 = 2 | Result: 2 <= 12👍
2*2 = 4 | Result: 4 <= 12👍
2*3 = 6 | Result: 6 <= 12👍
2*4 = 8 | Result: 8 <= 12👍
2*5 = 10 | Result: 10 <= 12👍
2*6 = 12 | Result: 12 <= 12👍

In [52]:
#factorial
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result = i * result
    return result
factorial(3)

6

In [53]:
#factorial-recursion
def factorial_recursion(n):
  if n<2:
    return 1
  else:
    return n* factorial_recursion(n-1)
for i in range(5):
  print('num =',i,'factorial =',factorial_recursion(i))

num = 0 factorial = 1
num = 1 factorial = 1
num = 2 factorial = 2
num = 3 factorial = 6
num = 4 factorial = 24

In [54]:
#multiples of 3 between 0 and 40
n = 0
multiple = 0
while n < 40:
  n = 3*multiple
  if n < 40:
    if multiple == 0:
      print(multiple)
    elif n % 3 == 0:
      print(n)
  multiple +=1

0
3
6
9
12
15
18
21
24
27
30
33
36
39

In [55]:
#check if the number is the power of base(+ve) using recursion
def check_power(n, base):
  if n < base:
    if n == 1: # any number ** 0 | Ex. 3**0 = 1
      return 'Yes'
    else:
      return "No"
  else:
    if n % base == 0:
      n = n//base
    else:
      return 'No'
  return check_power(n, base)

print(check_power(18,2)) 
print(check_power(1024,4))
print(check_power(45,11)) 
print(check_power(121,11)) 
print(check_power(25.0,5.0))

No
Yes
No
Yes
Yes

In [56]:
#sum of positive numbers using recursion
sum = 0
def sum(n):
  if n < 2:
    return 1
  else:
    return n + sum(n-1)
print(sum(10)) #1+2+3+4+5+6+7+8+9+10 = 55
print(sum(15)) #1+2+3+4+5+6+7+8+9+10+11+12+13+14+15 = 120

55
120