In [ ]:
# Multiplier of a number 1 through 7 till the result to be 12

def multiplier(n):
	multiplier = 1
	while multiplier <= 7:
		result = n * multiplier
		if result > 12 : #constrained
			break
		print(str(n)+"*"+str(multiplier)+" = "+str(result),'| Result:',result,'<= 12👍')
		multiplier += 1

for i in range(1,4):
	multiplier(i)

1*1 = 1 | Result: 1 <= 12👍
1*2 = 2 | Result: 2 <= 12👍
1*3 = 3 | Result: 3 <= 12👍
1*4 = 4 | Result: 4 <= 12👍
1*5 = 5 | Result: 5 <= 12👍
1*6 = 6 | Result: 6 <= 12👍
1*7 = 7 | Result: 7 <= 12👍
2*1 = 2 | Result: 2 <= 12👍
2*2 = 4 | Result: 4 <= 12👍
2*3 = 6 | Result: 6 <= 12👍
2*4 = 8 | Result: 8 <= 12👍
2*5 = 10 | Result: 10 <= 12👍
2*6 = 12 | Result: 12 <= 12👍
3*1 = 3 | Result: 3 <= 12👍
3*2 = 6 | Result: 6 <= 12👍
3*3 = 9 | Result: 9 <= 12👍
3*4 = 12 | Result: 12 <= 12👍

In [ ]:
#Prime Factors

def p_factors(n):
    factor = 2
    while factor <= n:
        if n % factor == 0:
            print(factor,end=' ')
            n = n // factor
        else:
            factor += 1
    return None

p_factors(1000)

2 2 2 5 5 5

In [ ]:
# Multiplication table
def Tabl(st, sp):
	for x in range(st,sp+1):
		for y in range(st,sp+1):
			print(str(x*y), end=" ") #for printing in the same line separated with ' '
		print() #For new line

Tabl(1, 9)

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
#factorial
def factorial(n):  
    result = 1 
    for i in range(1,n+1): 
        result = i * result 
    return result
factorial(5)

120

In [ ]:
#factorial-recursion
def factorial_recursion(n): 
    if n<2:
        return 1
    else:
        return n* factorial_recursion(n-1) 

for i in range(5):
    print('num =',i,'factorial =',factorial_recursion(i))

num = 0 factorial = 1
num = 1 factorial = 1
num = 2 factorial = 2
num = 3 factorial = 6
num = 4 factorial = 24

In [ ]:
# Counting the length of a number

def counting(n):
  len = 0
  if n == 0: #n = 12
      return 1
  while n != 0: 
      len += 1
      n //= 10 
  return len

print(counting(12))
print(counting(0))
print(counting(196))
print(counting(123456))
print(counting(37))

2
1
3
6
2

In [ ]:
#multiples of 3 between 0 and 40
n = 0
multiple = 0
while n < 40:
  n = 3*multiple
  if n < 40:
    if multiple == 0:
      print(multiple)
    elif n % 3 == 0:
      print(n)
  multiple += 1

0
3
6
9
12
15
18
21
24
27
30
33
36
39

In [ ]:
#check if the number is the power of base(+ve) using recursion
def check_power(n, base): 
  if n < base: 
    if n == 1: # any number ** 0 | Ex. 3**0 = 1  #
      return 'Yes' 
    else:
      return "No"
  else:
    if n % base == 0: 
      n = n//base 
    else:
      return 'No'
  return check_power(n, base)

print(check_power(18,2)) 
print(check_power(1024,4))
print(check_power(45,11)) 
print(check_power(121,11)) 
print(check_power(25.0,5.0))

No
Yes
No
Yes
Yes

In [ ]:
#sum of positive numbers using recursion #py recursion calling limit 1000
sum = 0
def sum(n):
  if n < 2:
    return 1
  else:
    return n + sum(n-1)
print(sum(10)) #1+2+3+4+5+6+7+8+9+10 = 55
print(sum(15)) #1+2+3+4+5+6+7+8+9+10+11+12+13+14+15 = 120

55
120

In [ ]:
#Feharenheit to celsius

def f_2_c(f):
    return (f-32)*5/9

for i in range(0,60,5):
    print('{:>3} degree F ||{:>7.2f} degree C'.format(i,f_2_c(i)))

  0 degree F || -17.78 degree C
  5 degree F || -15.00 degree C
 10 degree F || -12.22 degree C
 15 degree F ||  -9.44 degree C
 20 degree F ||  -6.67 degree C
 25 degree F ||  -3.89 degree C
 30 degree F ||  -1.11 degree C
 35 degree F ||   1.67 degree C
 40 degree F ||   4.44 degree C
 45 degree F ||   7.22 degree C
 50 degree F ||  10.00 degree C
 55 degree F ||  12.78 degree C

In [ ]:
#Sum of all divisors excluding number itself

def divisors(n):
  sum = 0
  divisor = 1
  while divisor <= n:
    if n == 0:
      return 0
    else:
      if n%divisor == 0:
        sum += divisor
    divisor+=1
  sum -= n #removing the number divided by itself
  return sum
print(divisors(0))
print(divisors(5)) # 1
print(divisors(40)) # 1+2+4+5+8+10+20 = 50

0
1
50

In [ ]:
#Enter i,d,s and print i+d as int, 3*d as float, s as "Python is awesome" 
integer_var = int(input("Enter first number "))
float_var = float(input("Enter second number "))

integer_result = integer_var + int(float_var)
float_result = round(3*float_var,1)
string_result = "Python "+input("Enter remaining string ")

print(integer_result)
print(float_result)
print(string_result)

Enter first number 12
Enter second number 5
Enter remaining string is awesome
17
15.0
Python is awesome

In [ ]:
#Finding the number of pairs of integers

def pair(number, array):
  d = dict()
  for i in array:
    if i in d:
      d[i] +=1
    else:
      d[i] = 1
  number = 0
  for i in d:
    number = number + d[i]//2
  return number

array = []
if __name__ == '__main__':
    number = int(input("Enter length of array "))
    for i in range(number):
        array.append(int(input('Enter integer item ')))
    print('Number of pairs: '+str(pair(number, array)))

Enter length of array 6
Enter integer item 2
Enter integer item 2
Enter integer item 3
Enter integer item 3
Enter integer item 4
Enter integer item 5
Number of pairs: 2

In [ ]:
#Palindrome 

def palindrome(input):
	string = ""
	rvr = ''
	input = input.split(' ')
	for i in input:
		string += i
	string = string.lower()
	for i in string[::-1]: #reversing
		rvr += i

	if string == rvr:
		return True
	return False

print(palindrome("lol"))
print(palindrome("1234321")) 
print(palindrome("hii"))
print(palindrome("insane"))

True
True
False
False

> Q. A function to convert an octal term into a combination of characters such that if a user input
* 7 then it is the sum of 4,2,1 where 4 should be indicated by a, 2 should be indicated by b, 1 should be indicated by c, and 0 should be indicated by ? i.e. abc
* 6 then it is the sum of 4,2,0 so it should make a pattern of 4,2,0 i.e. ab?
* 5 then it is the sum of 4,1,0 so it should make a pattern of 4,1,0 i.e. ac?
* 4 then it is the sum of 4,0,0 so it should make a pattern of 4,0,0 i.e. a??
* 3 then it is the sum of 2,1,0 so it should make a pattern of 2,1,0 i.e. bc?
* 2 then it is the sum of 2,0,0 so it should make a pattern of 2,0,0 i.e. b??
* 1 then it is the sum of 1,0,0 so it should make a pattern of 1,0,0 i.e. c??
* 0 then it is the sum of 0,0,0 so it should make a pattern of 0,0,0 i.e. ???<br>
If a user input a series of octal numbers then the character combination should be displayed.

In [17]:
def conversion(inp):
    var = ""
    lis = [(4,"a"),(2,"b"),(1,"c")]
    for i in [int(j) for j in str(inp)]:
        for v, l in lis:
            if i >= v:
                var += l
                i -= v
            else:
                var +='?'
    return var

for i in range(8):
    print("Pattern of",i,'is',conversion(i))    
import random
for i in range(5):
    a = random.randint(100,700)
    print("Pattern of",a,"is",conversion(a))

Pattern of 0 is ???
Pattern of 1 is ??c
Pattern of 2 is ?b?
Pattern of 3 is ?bc
Pattern of 4 is a??
Pattern of 5 is a?c
Pattern of 6 is ab?
Pattern of 7 is abc
Pattern of 150 is ??ca?c???
Pattern of 189 is ??cabcabc
Pattern of 531 is a?c?bc??c
Pattern of 485 is a??abca?c
Pattern of 687 is ab?abcabc