# Loops and Iterations
* if
* if-else
* if-elif-else
* for
* while

In [ ]:
# if
if True:
  print("Hello, World!")

Hello, World!

In [ ]:
if False:
  print('Hello, World!')

In [ ]:
num = 2

if num > 0:
  print('It is possible to print')

It is possible to print

In [ ]:
if num >= 0 or num <= 3:
  print('It is possible to print')

It is possible to print

In [ ]:
if num >= 0 and num <= 3:
  print('It is possible to print')

It is possible to print

In [ ]:
if num >= 0 or num >= 4:
  print('It is possible to print')

It is possible to print

In [ ]:
if num >= 0 and num >= 4:
  print('It is not possible to print')

In [ ]:
#if-else
if False:
  print('False statement')
else:
  print('True statement')

True statement

In [ ]:
num = 5
if num > 6:
  print('greater than 6')
else:
  print('not greater than 6')

not greater than 6

In [ ]:
if num < 6:
  if num > 3:
    print('smaller than 6 but greater than 3')
  if num < 3:
    print('smaller than 6 but not than 3')
else:
  print('greater than 6')

smaller than 6 but greater than 3

In [ ]:
if num > 6:
  if num > 3:
    print('smaller than 6 but greater than 3')
  if num < 3:
    print('smaller than 6 but not than 3')
else:
  if num > 3:
    print('smaller than or equal to 6 but greater than 3')

smaller than or equal to 6 but greater than 3

In [ ]:
#if-elif-else
a = 60
b = 70
c = 80
d = 90
e = 95
num = 100

if num <= a:
  print(num,'is less than equal to',a)
elif num <= b:
  print(num,'is less than equal to',b)
elif num <= c:
  print(num,'is less than equal to',c)
elif num <= d:
  print(num,'is less than equal to',b)
else:
  print('What\'s going on...')

What's going on...

In [ ]:
a = 10
if a == 5:
  print('a is equal to',a)
elif a ==10:
  print('a is equal to',a)
else:
  print('I don\'t know')

a is equal to 10

In [ ]:
#for
for i in range(10): #ðŸ“Œrange() is built-in function starting from 0 to n-1
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(5):
  for j in range(5):
    print('i =',i,'j =',j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

In [ ]:
lis = [1,2,3,4,5,6,7,8,9,10]
sum = 0

for i in lis:
  sum +=i
  print('Now the sum is',sum)

Now the sum is 1
Now the sum is 3
Now the sum is 6
Now the sum is 10
Now the sum is 15
Now the sum is 21
Now the sum is 28
Now the sum is 36
Now the sum is 45
Now the sum is 55

In [ ]:
for i in 'Hello, World!':
  print(i)

H
e
l
l
o
,

W
o
r
l
d
!

In [ ]:
for i in [1,2.3, '4',[12,34],(1,23,4),{1,23,4},{'1':'one'}]:
  print('Datatype of',i,'is',type(i))

Datatype of 1 is <class 'int'>
Datatype of 2.3 is <class 'float'>
Datatype of 4 is <class 'str'>
Datatype of [12, 34] is <class 'list'>
Datatype of (1, 23, 4) is <class 'tuple'>
Datatype of {1, 4, 23} is <class 'set'>
Datatype of {'1': 'one'} is <class 'dict'>

In [2]:
print('dsdferf')

dsdferf